
/* For Tablet Devices */
@media screen and (max-width: 768px) {

    /* header section responsive start here*/
    header{
        padding: 30px 40px;
    }
    .baner{
        padding: 0 40px;
    }
    .baner-text > h1{
        font-size: 40px;
        line-height: 45px;
    }
    .baner-text > p{
        font-size: 12px;
    }
    .baner-text > .btn{ 
        height: 45px;       
        margin-bottom: 60px;
    }
    .btn > i{
        top: 0.6;
    }
    .baner-img > img{
        text-align: right;
    }
    /* header section responsive end here*/

    /* blog section responsive start here*/
    main{
        padding: 30px 40px;
    }
    .blog-details{
        grid-template-columns: repeat(1 ,1fr);
        gap: 35px;
    }
    .buttons > .button{
        flex-direction: row;
        gap: 25px;
        background: none;
        padding: 0;
    }
    .buttons > .button > .link-btn{
        border: 1px solid rgba(0,0,0,0.1);
    }
    #blog{
       border: none;
       
    }
    .blog-details{
        gap: 25px;
    }
    .card-details{
        grid-template-columns: repeat(1 ,1fr 1fr);
    }

    .button{
        display: block;
        padding: 25px 0;
    }

    /* blog section responsive end here*/


    /* footer section responsive start here */
    .link-list > a{
        padding: 0 35px;
        line-height: 45px;
    }
    /* footer section responsive end here */
}
/* End */


/* For Mobile Devices */
@media screen and (max-width:576px) {
    /* header section responsive srart here*/
    .baner{
        grid-template-columns: repeat(1,1fr);
    }
    .baner-text{
        text-align: center;
    }
    .baner-text > h1{
        line-height: 50px;
    }
    .baner-img > img{
        margin: 0 auto;
    }
    .baner-text > .btn{
        margin-bottom: 20px;
    }
    /* header section responsive end here*/

    /* blog section responsive start here*/
    main{
        padding: 0px 40px;
    }
    .buttons > .button{
        flex-direction: column;
        gap: 0;
    }
    .card-details{
        grid-template-columns: repeat(1 ,1fr);
        
    }
    /* blog section responsive end here*/


    /* footer section responsive start here*/
    footer{
        margin-top: 40px;
    }
    .link-list > a{
        display: block;
    }
    /* footer section responsive end here*/
}

/* End */