@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* header style start here */
header{
    padding: 50px 100px;
}
.baner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    background: #161616;
    color: #fff;
    border-radius: 30px;
    padding: 0 90px;
    padding-top: 40px;
}
.baner-text > h1{
    font-size: 55px;
    line-height: 70px;
    padding-top: 70px;
}
.baner-text > p{
    padding: 15px 0;
    font-weight: 400;
    font-style: normal;
}
.baner-img{
    height: 100%;
}
.baner-img > img{
    width: 100%;
    height: 100%;
}
@keyframes bgChange {
    0%{
        background-color: chocolate;
    }
    50%{
        background-color:#FF0000;
    }
    100%{
        background-color: chocolate;
    }
}
.baner-text > .btn{
    border: none;
    width: 187px;
    height: 54px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 4px;
    background:chocolate ;
    color: #ffff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 100px;
    box-shadow: 1px 2px 15px rgba(255,255,255,0.5);
    
}

.baner-text > .btn:hover{
    animation: bgChange 1s ease-in-out 0.5s 1 both;
    animation-play-state: running;
}

.btn > i{
    position: relative;
    top: 2.5px;
    left: 5px;
}
/* header style end here  */

/* main style start here */
main{
    padding: 50px 100px;
}
.blog-details{
    display: grid;
    grid-template-columns: repeat(1 ,1fr 3fr);
    grid-column-gap: 20px;
}
.buttons > .button{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    padding: 35px;
    border-radius: 10px;
}

.buttons > .button > .link-btn{
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0;
    background-color: #fff;
    color: #000;
}
#bg_btn{
    background-color: chocolate;
    color: #fff;
}
.card-details{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}
.card-info{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}
.card-info > img{
    width: 100%;
}
.card-text{
    padding: 0 15px;
}
.card-text > h3{
    font-size: 16px;
}
.card-btn{
    border: 1px solid black;
    text-transform: capitalize;
    background-color: #fff;
    color: #000;
    padding: 4px 15px;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 0;
}
.game_duration_coments{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px;
}
.game-duration, .game-coment{ 
    display: flex;
    align-items: center;
    gap: 10px;
}
.game-duration > img{
    width: 80%;
    position: relative;
    top: -1px;
}

.button{
    display: none;
    text-align: center;
}
.view_btn{
    border: none;
    width: 187px;
    height: 54px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 4px;
    background:chocolate ;
    color: #ffff;
    cursor: pointer;
    margin-top: 10px;
}

/* match html file style start here */

.match_info{
    padding: 35px 25px;
    text-align: center;
}
.match_info > h3,p{
    text-transform: capitalize;
    
}
.match_info > p{
   font-size: 14px;
   padding: 10px 0;
   color: #3a3a3a;
}
.compition-countrys{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.compition-countrys > img{
    width: 40%;

}

/* match html file style end here */

/* main style end here  */

/* footer style start here */
footer{
    text-align: center;
    padding: 70px 0;
    background-color: #161616;
    color: #fff;
}

footer h2{
    font-size: 40px;
    padding-bottom: 60px;
}

.link-list > a{
    color: #B9B9B9;
    padding: 0px 25px;
    text-transform: capitalize;
}

.social-links{
    margin-top: 50px;
}
.social-links > a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 0 15px;
    border-radius: 50%;
    color: #fff;
}
.social-links .twitter:hover {
    background-color: #0E8FF3;
    border: none;
    transition: all 0.4s ease-in-out;
    color: #fff;
}
.social-links .youtube:hover {
    background-color: #FF0000;
    border: none;
    transition: all 0.4s ease-in-out;
    color: #fff;
}
.social-links .google:hover {
    background-color: #FF631A;
    border: none;
    transition: all 0.4s ease-in-out;
    color: #fff;
}

/* footer style end here  */